x-networks: &networks
  networks:
    - shared_service_network

x-secrets: &secrets
  secrets:
    - hcp_api_token
    - hcp_token_enc_key

x-environment: &environment
  environment:
    HCP_TOKEN_ENC_KEY: ${HCP_TOKEN_ENC_KEY?Docker Compose Config Error! HCP_TOKEN_ENC_KEY is not set!}

x-build-args: &build-args
  APP_NAME: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  HCP_ORG_ID: ${HCP_ORG_ID?Docker Compose Config Error! HCP_ORG_ID is not set!}
  HCP_PROJECT_ID: ${HCP_PROJECT_ID?Docker Compose Config Error! HCP_PROJECT_ID is not set!}

services:
  # ----------------------
  # 1) App Service
  # ----------------------
  app:
    build:
      context: .
      dockerfile: docker/go-app.Dockerfile
      target: app
      <<: *secrets
      args:
        <<: *build-args
        APP_PORT: ${APP_PORT:-8080}
    <<: *environment
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}_instance
    networks:
      shared_service_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    ports:
      - "${HOST_PORT:-8080}:${APP_PORT:-8080}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${APP_PORT:-8080}/health"]
      interval: 5s
      timeout: 2s
      retries: 5

  # ----------------------
  # 2) Integration Test Service - Ephemeral
  # ----------------------
  integration-test:
    build:
      context: .
      dockerfile: docker/go-app.Dockerfile
      target: integration-test-runner
      <<: *secrets
      args:
        <<: *build-args
        APP_PORT: ${APP_PORT:-8080}
    <<:
      - *networks
      - *environment

  # ----------------------
  # 3) Unit Test Service - Ephemeral
  # ----------------------
  unit-test:
    build:
      context: .
      dockerfile: docker/go-app.Dockerfile
      target: unit-test-runner
    <<: *networks

  # ----------------------
  # 4) Database Migration Service
  # ----------------------
  migrate:
    build:
      context: .
      dockerfile: docker/migrate.Dockerfile
      args:
        <<: *build-args
        MIGRATIONS_PATH: ${MIGRATIONS_PATH?Docker Compose Config Error! MIGRATIONS_PATH is not set!}
    <<:
      - *networks
      - *secrets

networks:
  shared_service_network:
    external: true

secrets:
  hcp_api_token:
    environment: HCP_API_TOKEN
  hcp_token_enc_key:
    environment: HCP_TOKEN_ENC_KEY

