x-networks: &networks
  networks:
    - default_network

x-environment: &environment
  environment:
    HCP_TOKEN_ENC_KEY: ${HCP_TOKEN_ENC_KEY?Docker Compose Config Error! HCP_TOKEN_ENC_KEY is not set!}

x-build-args: &build-args
  APP_NAME: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  APP_URL: ${APP_URL?Docker Compose Config Error! APP_URL is not set!}
  HCP_ORG_ID: ${HCP_ORG_ID?Docker Compose Config Error! HCP_ORG_ID is not set!}
  HCP_PROJECT_ID: ${HCP_PROJECT_ID?Docker Compose Config Error! HCP_PROJECT_ID is not set!}
  HCP_ENCRYPTED_API_TOKEN: ${HCP_ENCRYPTED_API_TOKEN?Docker Compose Config Error! HCP_ENCRYPTED_API_TOKEN is not set!}
  LD_SERVER_CONTEXT_KEY: ${LD_SERVER_CONTEXT_KEY?Docker Compose Config Error! LD_SERVER_CONTEXT_KEY is not set!}
  LD_SERVER_CONTEXT_KIND: ${LD_SERVER_CONTEXT_KIND?Docker Compose Config Error! LD_SERVER_CONTEXT_KIND is not set!}

services:
  # ----------------------
  # 1) App Service
  # ----------------------
  app:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
      target: app-runner
      args:
        <<: *build-args
        APP_PORT: ${APP_PORT:-8080}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}_instance
    ports:
      - "${APP_HOST_PORT:-8080}:${APP_PORT:-8080}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${APP_PORT:-8080}/health"]
      interval: 5s
      timeout: 2s
      retries: 5
    networks:
      default_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    profiles:
      - "${COMPOSE_PROFILE_APP_DEFAULT?Docker Compose Config Error! COMPOSE_PROFILE_APP_DEFAULT is not set!}"
    <<: *environment

  # ----------------------
  # 2) Integration Test Service - Ephemeral
  # ----------------------
  integration-test:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
      target: integration-test-runner
      args:
        <<: *build-args
        APP_PORT: ${APP_PORT:-8080}
    profiles:
      - "${COMPOSE_PROFILE_APP_TEST?Docker Compose Config Error! COMPOSE_PROFILE_APP_TEST is not set!}"
    <<:
      - *networks
      - *environment

  # TODO: Uncomment when unit tests are implemented
  # ----------------------
  # 3) Unit Test Service - Ephemeral
  # ----------------------
  # ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-unit-test:
  #   build:
  #     context: .
  #     dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
  #     target: unit-test-runner
  #   <<: *networks
  # TODO: Uncomment when unit tests are implemented

networks:
  default_network:
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}

