x-networks: &networks
  networks:
    - app_network

x-environment: &environment
  environment:
    HCP_TOKEN_ENC_KEY: ${HCP_TOKEN_ENC_KEY?Docker Compose Config Error! HCP_TOKEN_ENC_KEY is not set!}

x-build-args: &build-args
  APP_NAME: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
  APP_PORT: ${APP_PORT:-8080}
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  HCP_ORG_ID: ${HCP_ORG_ID?Docker Compose Config Error! HCP_ORG_ID is not set!}
  HCP_PROJECT_ID: ${HCP_PROJECT_ID?Docker Compose Config Error! HCP_PROJECT_ID is not set!}
  HCP_ENCRYPTED_API_TOKEN: ${HCP_ENCRYPTED_API_TOKEN?Docker Compose Config Error! HCP_ENCRYPTED_API_TOKEN is not set!}
  LD_SERVER_CONTEXT_KEY: ${LD_SERVER_CONTEXT_KEY?Docker Compose Config Error! LD_SERVER_CONTEXT_KEY is not set!}
  LD_SERVER_CONTEXT_KIND: ${LD_SERVER_CONTEXT_KIND?Docker Compose Config Error! LD_SERVER_CONTEXT_KIND is not set!}
  UNIQUE_RUN_NUMBER: ${UNIQUE_RUN_NUMBER?Docker Compose Config Error! UNIQUE_RUN_NUMBER is not set!}
  UNIQUE_RUNNER_ID: ${UNIQUE_RUNNER_ID?Docker Compose Config Error! UNIQUE_RUNNER_ID is not set!}
  GO_VERSION: ${GO_VERSION?Docker Compose Config Error! GO_VERSION is not set!}

services:
  # ----------------------
  # 1) App Service
  # ----------------------
  app:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
      target: app-runner
      args:
        <<: *build-args
        PUBLIC_APP_URL: ${PUBLIC_APP_URL?Docker Compose Config Error! PUBLIC_APP_URL is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}_instance
    ports:
      - "${APP_HOST_PORT:-8080}:${APP_PORT:-8080}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${APP_PORT:-8080}/health"]
      interval: 5s
      timeout: 2s
      retries: 5
    networks:
      app_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    profiles:
      - app
    <<: *environment

  # ----------------------
  # 2) Integration Test Service - Ephemeral
  # ----------------------
  integration-test:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/go-app-test.Dockerfile
      target: integration-test-runner
      args:
        <<: *build-args
        COMPOSE_NETWORK_APP_URL: ${COMPOSE_NETWORK_APP_URL?Docker Compose Config Error! COMPOSE_NETWORK_APP_URL is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-integration-test
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-integration-test_instance
    profiles:
      - app_integration_test
    <<:
      - *networks
      - *environment

  # TODO: Uncomment when unit tests are implemented
  # ----------------------
  # 3) Unit Test Service - Ephemeral
  # ----------------------
  # ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-unit-test:
  #   build:
  #     context: .
  #     dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
  #     target: unit-test-runner
  #   <<: *networks
  # TODO: Uncomment when unit tests are implemented
  
  # ----------------------
  # 3) App Service Health Check
  # ----------------------
  health-check:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/go-app.Dockerfile
      target: health-check-runner
      args:
        COMPOSE_NETWORK_APP_URL: ${COMPOSE_NETWORK_APP_URL?Docker Compose Config Error! COMPOSE_NETWORK_APP_URL is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-health-check
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-health-check_instance
    profiles:
      - app_post_check
    <<: *networks

networks:
  app_network:
    external: true
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}

