services:
  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok_tunnel
    restart: unless-stopped
    command: >
      http ${APP_URL_FROM_COMPOSE_NETWORK?Docker Compose Config Error! APP_URL_FROM_COMPOSE_NETWORK is not set!} --log stdout
    ports:
      - "4040:4040"
    profiles:
      - unassigned
    networks:
      - app_network
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN?Docker Compose Config Error! NGROK_AUTHTOKEN is not set!}

networks:
  app_network:
    external: true
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}

