x-environment: &environment
  environment:
    HCP_TOKEN_ENC_KEY: ${HCP_TOKEN_ENC_KEY?Docker Compose Config Error! HCP_TOKEN_ENC_KEY is not set!}

x-build-args: &build-args
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  APP_URL: ${APP_URL?Docker Compose Config Error! APP_URL is not set!}
  HCP_ORG_ID: ${HCP_ORG_ID?Docker Compose Config Error! HCP_ORG_ID is not set!}
  HCP_PROJECT_ID: ${HCP_PROJECT_ID?Docker Compose Config Error! HCP_PROJECT_ID is not set!}
  HCP_ENCRYPTED_API_TOKEN: ${HCP_ENCRYPTED_API_TOKEN?Docker Compose Config Error! HCP_ENCRYPTED_API_TOKEN is not set!}
  STRIPE_WEBHOOK_EVENTS: ${STRIPE_WEBHOOK_EVENTS?Docker Compose Config Error! STRIPE_WEBHOOK_EVENTS is not set!}

services:
  # ----------------------
  # 1) Stripe Listener Service
  # ----------------------
  stripe-listener:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/stripe-listener.Dockerfile
      target: stripe-listener-runner
      args:
        <<: *build-args
        STRIPE_WEBHOOK_ROUTE: ${STRIPE_WEBHOOK_ROUTE?Docker Compose Config Error! STRIPE_WEBHOOK_ROUTE is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener_instance
    networks:
      app_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener
    profiles:
      - "${COMPOSE_PROFILE_APP_PRE?Docker Compose Config Error! COMPOSE_PROFILE_APP_PRE is not set!}"
    <<: *environment

  # ----------------------------------------
  # 2) Stripe Webhook Check Service
  # ----------------------------------------
  stripe-webhook-check:
    build:
      context: .
      dockerfile: devops-toolkit/backend/docker/stripe-listener.Dockerfile
      target: stripe-webhook-check-runner
      args:
        <<: *build-args
        STRIPE_WEBHOOK_CHECK_ROUTE: ${STRIPE_WEBHOOK_CHECK_ROUTE?Docker Compose Config Error! STRIPE_WEBHOOK_CHECK_ROUTE is not set!}
        UNIQUE_RUN_NUMBER: ${UNIQUE_RUN_NUMBER?Docker Compose Config Error! UNIQUE_RUN_NUMBER is not set!}
        UNIQUE_RUNNER_ID: ${UNIQUE_RUNNER_ID?Docker Compose Config Error! UNIQUE_RUNNER_ID is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-webhook-check
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-webhook-check_instance
    profiles:
      - "${COMPOSE_PROFILE_APP_POST_CHECK?Docker Compose Config Error! COMPOSE_PROFILE_APP_POST_CHECK is not set!}"
    networks:
      - app_network
    <<: *environment

networks:
  app_network:
    external: true
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}
